{% extends 'base.html.twig' %}

{% block body %}

    <table class="table table-striped">
        <div>
            <h1>Liste des genres</h1>
            <a href="{{ path('bookKind_new') }}">Créer un nouveau genre</a>
        </div>
        <thead>
        <th>Id</th>
        <th>Label</th>
        <th></th>
        </thead>
        <tbody>
        {% for bookKind in bookKinds %}
            <tr>
                <td>
                    {{ bookKind.id }}
                </td>
                <td>
                    {{ bookKind.label }}
                </td>
                <td class="text-end">
                    <a href="{{ path('bookKind_edit', {id: bookKind.id}) }}">
                        <i class="fa fa-pen text-primary"></i>
                    </a>

                    <a href="{{ path('bookKind_delete', {id: bookKind.id}) }}">
                        <i class="fa fa-trash text-danger"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock body %}