<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="{{ path('book_listing') }}">Ma bibliothèque</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('book_listing') }}">Livres</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('author_listing') }}">Auteurs</a>
                </li>
                {% if is_granted('ROLE_ADMIN') %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('bookKind_listing') }}">Genres</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('user_listing') }}">Utilisateurs</a>
                    </li>
                {% endif %}
            </ul>
            {% if app.user %}
                <div class="right-container">
                    <div class="dropdown text-end">
                        <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                            {% if app.user.profileImageName %}
                                <img src="{{ vich_uploader_asset(app.user, 'profileImageFile') }}" alt="" width="32" height="32" class="rounded-circle">
                            {% else %}
                                Bonjour {{ app.user.firstName }}
                            {% endif %}
                        </a>
                        <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
                            <a class="dropdown-item" href="{{ path('profile_edit') }}">Modifier mon profil</a>
                            <a class="dropdown-item" href="{{ path('app_logout') }}">Se déconnecter</a>
                        </ul>
                    </div>
                </div>

            {% else %}
                <p>
                    <a href="{{ path('app_login') }}">Connectez-vous</a>
                    ou
                    <a href="{{ path('app_register') }}">créez un compte</a>
                </p>
            {% endif %}
        </div>
    </div>
</nav>